.cards {
  display: grid;
  box-sizing: border-box;
  max-width: 880px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 20px;
  margin: 0 auto;

 
}

@media screen and (max-width: 1024px) {
  .cards {
      gap: 14px;
  }
}


@media screen and (max-width: 320px) {
  .cards {
      gap: 20px;
      padding-left: 19px;
      padding-right: 19px;
      padding-top: 0;
  }
}