.auth__entrance {
    color: rgb(255, 255, 255, 1);
    text-decoration: none;
    transition: opacity 0.2s;
    align-self: center;
    margin-top: 15px;
  }
  
  .auth__entrance:hover {
    opacity: 0.6;
  }