.card__table {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 15px 31px 21px;
    border-radius: 0 0 10px 10px;
}